<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %>
<% end %>

<% if user_signed_in? %>
  <% @items.each do |item| %>
    <p><%= item.title %> | <%= item.format_price %> | <%= button_to "Add to Cart", line_items_path(item_id: item.id) %>
  <% end %>
<% else %>
  <% @items.each do |item| %>
    <p><%= item.title %> | $<%= item.price.to_f/100 %></p>
  <% end %>
<% end %>
